*{
    margin: 0;
    padding: 0;
}

.caixaFoto{
    margin-top: 100px;
    text-align: center;
}

.fotoPequena{
    display: flex;
    margin-left: 500px;
}

#fotop1, #fotop2, #fotop3, #fotop4{
    margin-right: 10px;
    border: 3px solid;
    border-radius: 8px;
    max-width: 5%;
}