*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}


#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #ee1040,  #af0127);
	color: #FFF;
	height: 80px;
	padding-left: 18px;
    width: 100%;
}

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu ul {
	width: 100%;
    margin-left: 10px;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	display: block;
	line-height: 80px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 22px;
	text-transform: uppercase;
}

#menu li a:hover {
	color: #af0127;
	background: #F2F2F2;
}

#menu input {
	display: none;
	margin: 0;
}

.logo{
    width: 80px;
}

.sub-header{
    width: 100%;
    height: 110px;
    background-color: #be0029;
    background: linear-gradient(to bottom,  #af0127,  #ee1040);
}

.sub-header h1{
    color: white;
    font-size: 27px;
    line-height: 110px;
    padding-left: 40px;
    font-style: italic;
    max-width: max-content;
    float: left;
}

.sub-header > h1 > span{
    font-weight: normal;
    font-size: 20px;
}

#menu > ul > li > a.login{
    font-size: 14;
}

#menu > ul > li.direita{
    float: right;
    margin-right: 40px;
}
